@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;400;600;800&display=swap');
body {
  /* background-image: linear-gradient(-45deg, #b198dc 0%,  #45a8c1 100%);
  
  */
  /* background-image: url(https://images.unsplash.com/photo-1518384401463-d3876163c195?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80); */
    background-repeat: no-repeat;
    background-color: whitesmoke;
    background-size:contain ;
    overflow-x: hidden;
    overflow-y: auto;
    -wekit-font-smoothing: antialiased;
    font-family: 'Muli', sans-serif;
}
.container {
    background-image: url(https://images.unsplash.com/photo-1518384401463-d3876163c195?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
    /* margin:4px, 4px;
    padding:4px; */
/* 
    width: 500px;
    height: 110px;  */
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}
.comment__box {
    list-style-type: none;
    padding-left: 0;
}
.comment__box .comment h6 {
    font-weight: 800;
}
p {
    font-size: 16px;
}
.comment {
    animation: something .6s ease forwards;
}

@keyframes something {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

